@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700;800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Vollkorn:ital,wght@0,400;0,500;0,600;0,700;0,800;0,900;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    color: inherit;
    text-decoration: none;
	list-style: none;
  }

  *::-webkit-scrollbar {
    width: 16px;
  }

  *::-webkit-scrollbar-track {
    background: #ffffff;
  }

  *::-webkit-scrollbar-thumb {
    background-color: #9fcadb;
    border-radius: 10px;
  }

  .site{
	  max-width: 1980px;
	  max-height: 100%;
  }

  .bodyContainer{
	  font-family: 'Vollkorn', serif;
	  background-color: var(--color-bg-offset);
	  color: var(--color-bg-offset);
  }
  
  .contentContainer{
	  display: grid;
	  grid-template-columns: 1fr;
	  grid-gap: 18px;
  }

  .title{
	  font-family: 'Nanum Gothic', sans-serif;
  }
  
  /* Liens */
  .links{
	  color: var(--color-secondary);
  }
  
  .links:hover{
	  text-decoration: overline;
  }
  
  .links:visited{
	  opacity: 50%;
  }
  
  .links--overline{
	  text-decoration: overline;
  }
  
  .links--visited{
	  opacity: 50%;
  }

  /* */
  .icone{
  fill: var(--color-bg-offset);
  width: 150px;
  }
  
  .title--big{
	  text-align: center;
	  margin-top: 100px;
	  font-size: 36px;
  }
  
  .title--medium{
   font-size: 27px;
   margin-bottom: 15px;
  }
 
  .second__title{
	margin-top: 50px;
	text-align: center;
	margin-bottom: 50px;
	text-decoration: underline;
	text-decoration-color: #9fcadb;
}
  
  .txt{
	  line-height: 1.3em;
	  font-size: 20px;
	  max-width: 50ch;
	  margin-top: 18px;
  }

  .hide{
    display: none;
}
  
  .menu__ul{
	  padding-left: 0px;
	  margin-top: 15px;
  }
  
  .dwt{
	  width: 50px;
	  padding-right: 10px;
	}
  
	.section__footer{
	  display: flex;
	  justify-content:center;
	  align-items: center;
	  margin-top: 50px;
	}
  
	.menu__footer{
		display: flex;
		margin-bottom: 0px;
		margin-left: 15px;
	}
  
	.menu__itemfooter{
		margin: 5px;
	}
  
.content--top{
	display: flex;
	flex-direction: column;
    padding: 16px;
    height: 100vh;
    background: url("../assets/images/background_img.jpg");
    background-position: center;
	background-repeat: no-repeat;
}

.dlbtn {
	display: flex;
  }

.dlbtn--vh{
	margin-top: 85vh;
}
  
  .dlbtn__el {
	background-repeat: no-repeat;
	background-size: contain;
	display: inline-block;
	width: 100%;
	padding: 30px 0px;
	max-width: 200px;
	margin-right: 3px;
	-webkit-transition: 0.3s;
	transition: 0.3s;
  }
  
  .dlbtn__el:hover {
	-webkit-transform: scale(110%);
			transform: scale(110%);
  }
  
  .dlbtn__txt {
	position: absolute;
	white-space: nowrap;
	text-indent: 100%;
	overflow: hidden;
  }
  .dlbtn--last {
	padding: 24px;
	padding-top: 18px;
	background-position: center;
	-webkit-box-pack: center;
		-ms-flex-pack: center;
			justify-content: center;
  }
  .dlbtn--cs {
	background-position: center;
  }
  .dlbtn--apple {
	background-image: url(../assets/images/appstore.svg);
  }
  .dlbtn--google {
	background-image: url(../assets/images/googleplay.svg);
  }

  .section__wraper{
    height: 70vh;
	width: 100vh;
	margin-top: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
	background-repeat: no-repeat;
}

.tel1{
    background-image: url(../assets/images/tel1.png);
}

.tel2{
    background-image: url(../assets/images/tel2.png);
}

.tel3{
    background-image: url(../assets/images/tel3.png);
}

.graph1{
    background-image: url(../assets/images/graph1.jpg);
}

.graph2{
    background-image: url(../assets/images/graph2.jpg);
}

.graph3{
    background-image: url(../assets/images/graph3.jpg);
}

.graph4{
    background-image: url(../assets/images/graph4.jpg);
}

.graph5{
    background-image: url(../assets/images/graph5.jpg);
}

.graph6{
    background-image: url(../assets/images/graph6.jpg);
}

.Wrapcontainer{
    display: flex;
    width: 300vw;
    white-space: nowrap;
}

.wrap{
    overflow-x: hidden;
}

.review{
	background-color: #9fcadb;
	margin-top: 15px;
	padding: 15px;
}

.menu__list{
	margin-bottom: 10px;
}

.photoContainer{
	margin-top: 50px;
	max-width: 100%;
	height: 80px;
}

.photoContainer--big{
	margin-top: 50px;
	max-width: 350px;
}

.li--style{
	list-style: decimal;
}

@media screen and (min-width: 1200px) {
	.photoContainer--big{
		margin-top: 50px;
		max-width: 850px;
	}

	.contentContainer{
		grid-template-columns: 1fr 1fr 300px;
		grid-gap: 36px;
	}

	.hide{
		display: initial;
	}

	.first__title{
		font-size: 6em;
		grid-column: 1/4;
		margin-top: 180px;
	}

	.menu__list{
		grid-column: 2;
	}

	.menu__el{
	 font-size: 24px
	}

	.grid-columnII{
		grid-column: 2;
	}

	.grid-columnI{
		grid-column: 1;
	}

	.section__footer{
		grid-column: 1/4;
	}
	  .second__title{
		font-size: 90px;
		margin-top: 40vh;
	  }

	  .margin--casestudy{
		margin-top: 20vh;
      }

	  .modifier--bigleft{
		padding-left: 20vh;
	  }

	  .menu__ul{
		font-size: 18px;
		font-weight: bold;

	  }

	  .menu__ul li{
		font-weight: initial;
	  }

	  .grid-rowIV{
		grid-row: 4;
	  }

	.headerContainer{
		background-color: #9fcadb;
		height: 25px;
	  }

	  .title--margtop{
		margin-top: 150px;
	  }
}
